
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
width: 500px;
 margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(121, 199, 235);

}



.feedbackSection{
display: flex;
}

    
   .feedbackResults{
        color: orangered;
        font-weight: bold;

    }

    .btn {
  background-image: linear-gradient(
    to right,
    #1f1c2c 0%,
    #928dab 51%,
    #1f1c2c 100%
  );
}
.btn {
  margin: 10px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  outline: none;
border: none;

  }

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  outline: none;
   border: none;
}
